.centro {
  text-align: center;
  background-color: #3e4f46;
  padding-top: 10px;
  margin-bottom: 2px;
}

a.social:link,
a.social:visited,
a.social:active,
a.social:hover {
  padding: 10px;
  color: white !important;
  text-decoration: none;
}

.social {
  color: white;
  padding-top: 10px;
}
