.howtitle {
  background-color: #f6fbf8;
  padding: 20px;
  text-align: center;
  font-family: "Roboto";
}

.howtext {
  font-family: "Gafata";
  padding-right: 15px;
  padding-left: 30px;
  padding-top: 60px;
}
